.main {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.flex-container-main {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-items: flex-end;
}

.left {
    background-color: lightgrey;
    color: #525252;
    margin: 4px;
    width: 90px;
    border-radius: 4px;
    font-size: 30px;
    padding: 16px;
    text-align: left;
    height: 250px;
}

.right {
    background-color: lightgrey;
    color: #525252;
    margin: 4px;
    width: 140px;
    border-radius: 4px;
    line-height: 75px;
    font-size: 30px;
    padding: 0 16px;
    text-align: left;
    flex-grow: 1;
}

.footer {
    background-color: lightgrey;
    color: #525252;
    margin: 4px;
    width: 100px;
    border-radius: 4px;
    line-height: 75px;
    font-size: 30px;
    padding: 0 16px;
    text-align: left;
    flex-grow: 1;
}