.flexbox-container {
    margin: 4px auto;
    justify-content: center;

}

.box {
    background-color: #525252;
    border-radius: 4px;
    color: white;
    padding: 8px;
    font-size: 30px;
}

.atas {
    width: 500px;
    display: flex;
    direction: row;
    justify-content: space-between;
}

.atas .a {
    padding: 4px;
    width: 250px;
    height: 100px;
    margin: 4px;
}

.atas .b {
    padding: 4px;
    width: 100px;
    height: 100px;
    margin: 4px;

}

.bawah {
    display: flex;
    direction: row;
    width: 500px;
}

.bawah .c {
    padding: 4px;
    width: 150px;
    height: 300px;
    margin: 4px;
}

.bawah .d {
    display: flex;
    direction: row;
    justify-content: center;

    width: 350px;
    height: 292px;
    margin: 4px;
}