.grid-container-in {
    display: grid;
    grid-template-columns: 95px 95px 95px;
    grid-template-rows: 125px 125px;
    grid-gap: 8px;
    justify-content: center;
}

.grid-container-in>div {
    color: #525252;
    text-align: left;
    padding: 20px;
    font-size: 30px;
    border-radius: 4px;
    /* box-shadow: 2px 1px #888888; */
}

.e {
    height: 224px;
    grid-row: 1 / 1;
    background-color: lightgrey;
}

.f {
    grid-area: 1 / 2 / 1 / 4;
    background-color: lightgrey;
}

.g {
    grid-area: 2 / 3 / 2 / 4;
    background-color: lightgrey;
}