.grid-container {
    display: grid;
    grid-template-columns: 150px 100px 150px 100px;
    grid-template-rows: 100px 200px 100px;
    grid-gap: 8px;
    justify-content: center;
}

.grid-container>div {
    color: white;
    text-align: left;
    padding: 20px;
    font-size: 30px;
    border-radius: 4px;
    /* box-shadow: 2px 1px #888888; */
}

.item1 {
    margin-right: 8px;
    grid-column: 1 / 3;
    background-color: #525252;
}

.item5 {
    margin: 4px 0;
    margin-left: 16px;
    grid-area: 2 / 2 / 4 / 5;
    background-color: #525252;
}

.item4 {
    margin: 4px 0;
    grid-row: 2 / 4;
    background-color: #525252;
}

.item3 {
    grid-column: 4/ 4;
    background-color: #525252;
}